[package]
name = "nearclip-protocol"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
rmp-serde = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }
